.hero {
    display: flex;
    justify-content: center;
    height: 962px;
    top: 80px;
}
   
.hero h1 {
    align-self: center;
    position: absolute;
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-size: 6.3vw;
    text-transform: uppercase;
    text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
    mix-blend-mode: lighten;
    
}
   
.heroimg {
    width: 1440px;
    height: 962px;
    gap: 0px;
    opacity: 0px;
    
}

.blocphoto{
    width: 1248px;
    margin-left: 150px;

}

#categorie{
    color: #B8BBC2;
}
#select-categorie, #select-format, #select-ordre{
    width: 260px;
    height: 42px;
    padding: 11px 18px 11px 18px;
    border-radius: 8px ;
    border-color: #B8BBC2; 
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    color: black;
    
}


#select-categorie option {

    
    font-size: 12px;
    padding: 10px 0; 
   
}

/* Ajouter de l'espace entre les options */
#select-categorie option:not(:first-child) {
    margin-top: 5px;
}
.taxonomies {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
    }
.photo_type{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.custom-option  {
    padding: 10px; 
    line-height: 1.5; 
}
.tri_organisation{
   margin-left: 410px;
}
.tax_categorie_format{
    margin-left: 150px;
}
#load-more-button{
    width: 272px;
    height: 50px;
    top: 1000px;
    left: 438px;
    padding: 8px 15px 8px 15px;
    gap: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px #00000005;
    background: #D8D8D8;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    border: 2px solid #B8BBC2;
    cursor: pointer; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 500px;
    transition:  0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Propriétés de transition */
}
#load-more-button:hover{
    background: black; 
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); 
    transform: scale(1.05); 
    color: #fff;
}
