.hero {
    display: flex;
    justify-content: center;
    height: 962px;
    top: 80px;
}
   
.hero h1 {
    align-self: center;
    position: absolute;
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-size: 6.3vw;
    text-transform: uppercase;
    text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
    mix-blend-mode: lighten;
    
}
   
.heroimg {
    width: 1440px;
    height: 962px;
    gap: 0px;
    opacity: 0px;
    
}
   