/*Header*/
.header_logo {
  width: 216px;
  margin-left: 120px;
 }

.entete{
  display: flex;
  width: 1440px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  
}
.main-navigation{
  display: flex;
  justify-content: flex-end;
}
#main-menu{
  display: flex;
  justify-content: flex-end;
}
#main-menu a{
  text-decoration: none;
  color: black;
  
}
#main-menu li{
padding: 10px 40px 0 10px;
list-style: none;
}