.container1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
   
}

.post-content {
    display: flex;
    
}

.post-details {
    flex: 1;
    padding-right: 20px;
    width: 420px;
    top: 605px;
    left: 144px;
    gap: 20px;
    border-bottom: 1px solid black;
    align-self: flex-end;
    padding-bottom: 20px;
    
}

.post-details h2{
    font-family: Space Mono;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    width: 45%;
    margin-bottom: auto;
}

.post-details p{ 
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.73px;
    letter-spacing: 0.1em;
    text-align: left;
    
}

.post-thumbnail {
    flex: 0.9;
    width: 563px;
    height: 844px;
    position: relative;
    overflow: hidden; /* Les images débordantes sont masquées */
}

.post-thumbnail img {
    width: 563px;
    height: 844px;
    object-fit: cover; /* Utilisez 'cover' pour que l'image couvre entièrement le conteneur */
    object-position: center; /* Centrez l'image dans le conteneur */
    margin-left: 15px;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
    height: 118px;
}

.container2 p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.containerstyle{
    display: flex;
    margin-top: 30px;
    gap: 16%;
    margin-bottom: 30px;
}

.bouton {
    width: 272px;
    height: 50px;
    top: 1000px;
    left: 438px;
    padding: 8px 15px 8px 15px;
    gap: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px #00000005;
    background: #D8D8D8;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    border: 2px solid #B8BBC2;
    cursor: pointer; 
    transition:  0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Propriétés de transition */
}

.bouton:hover {
    background: #C0C0C0; 
    border-color: #A0A0A0; 
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); 
    transform: scale(1.05); 
}

.miniaturestyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
    margin-left: 235px;
}

.miniaturestyle .fleches {
    width: 85px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
}

.miniaturestyle .fleches .fleche {
    width: 25px;
    cursor: pointer;
}

.fleches {
    position: relative;
}

.nav-link {
    position: relative;
    display: inline-block;
}

.photo-preview {
    display: none;
    position: absolute;
    margin-left: 75px;
    margin-top: -75px;
    transform: translateX(-50%);
    width: 150px; 
    z-index: 10; 
    text-align: center;
}

.photo-preview img {
    width: 81px;
    height: 71px;
    object-fit: cover;
}

.nav-link:hover ~ .photo-preview {
    display: block;
}

.preview-image {
    display: none;
}

.nav-link.prev-link:hover ~ .photo-preview .prev-thumbnail {
    display: block;
}

.nav-link.next-link:hover ~ .photo-preview .next-thumbnail {
    display: block;
}

.recommandations{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-top: 1px solid #000000;
    margin-left: 150px;
}
.recommandations_images{
    display: flex;
    margin-top: 30px;
    gap: 16%;
    margin-bottom: 90px;
    
}
.recommandations h3{
    font-family: Space Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: left;
    text-transform: uppercase;
    width: 229px;
    height: 27px;
    top: 1158px;
    left: 145px;
    margin-top: 60px;
}

.texte{
font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 21px;
text-align: right;

}

/*test*/
#lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#lightbox-container {
    position: relative;
    background: white;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lightbox-image {
    max-width: 100%;
    max-height: 70vh;
}

#lightbox-info {
    margin-top: 20px;
    text-align: center;
}

#lightbox-close, #lightbox-prev, #lightbox-next {
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#lightbox-close {
    top: 10px;
    right: 10px;
}

#lightbox-prev {
    left: 10px;
}

#lightbox-next {
    right: 10px;
}
