@charset "UTF-8";
/*Header*/
.header_logo {
  width: 216px;
  height: 14px;
  top: 31px;
  left: 146px;
  gap: 0px;
  opacity: 0px;
  margin-left: 120px;
}

.entete {
  display: flex;
  width: 1440px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
}

#main-menu {
  display: flex;
  justify-content: flex-end;
}

#main-menu a {
  text-decoration: none;
  color: black;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
  text-align: left;
}

#main-menu li {
  padding: 10px 40px 0 10px;
  list-style: none;
}

/* Cache le bouton de menu burger par défaut */
.menu-button {
  display: none;
}

.close-button {
  display: none;
}

/* Personnaliser le visuel de mon nouveau menu footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.piedpage {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 60px;
  justify-content: space-between;
}

#footer-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
}

#footer-menu li {
  display: flex;
  justify-content: space-between;
}

#footer-menu a {
  text-decoration: none;
  color: black;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
}

.footer-text {
  text-decoration: none;
  color: black;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
}

/* Personnaliser le visuel du modal*/
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: -1%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  align-items: center;
  justify-content: center;
}

.image-container img {
  position: relative;
  width: 885.96px;
  height: 106.05px;
  top: 18px;
  left: -141.49px;
  gap: 0px;
  opacity: 0px;
}

.modal-body {
  position: relative;
  left: 170px;
}

#sent input.wpcf7-form-control {
  box-shadow: 0px 2px 1px 0px #D8D8D8;
  width: 263px;
  height: 50px;
  top: 683px;
  left: 165px;
  padding: 8px 15px 8px 15px;
  gap: 10px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  margin-left: 5px;
  background-color: #D8D8D8;
}

.contact {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.77px;
}

.wpcf7-form {
  width: 150%;
  box-sizing: border-box;
  margin-top: 50px;
}

.wpcf7-form p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #000000 !important;
}

input#photo_ref {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #000000 !important;
}

input.wpcf7-form-control {
  width: 263px;
  height: 40px;
  top: 23px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  margin-top: 5px;
  border: 1px solid #B8BBC2;
}

textarea.wpcf7-form-control {
  width: 263px;
  height: 210px;
  top: 23px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  border: 1px solid #B8BBC2;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
  border: 5px solid #000000;
  width: 597px;
  height: 769px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: modalZoomIn;
  -webkit-animation-duration: 0.5s;
  animation-name: modalZoomIn;
  animation-duration: 0.5s;
  overflow: hidden;
}

/* Animation de zoom en entrée pour le contenu de la modale */
@keyframes modalZoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.container1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 10%;
}

.post-content {
  display: flex;
}

.post-details {
  flex: 1;
  padding-right: 20px;
  width: 420px;
  top: 605px;
  left: 144px;
  gap: 20px;
  border-bottom: 1px solid black;
  align-self: flex-end;
  padding-bottom: 20px;
}

.post-details h2 {
  font-family: Space Mono;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  width: 45%;
  margin-bottom: auto;
}

.post-details p {
  font-family: Space Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-align: left;
}

.post-thumbnail {
  flex: 0.9;
  width: 563px;
  height: 844px;
  position: relative;
  overflow: hidden; /* Les images débordantes sont masquées */
}

.post-thumbnail img {
  width: 563px;
  height: 844px;
  -o-object-fit: cover;
     object-fit: cover; /* Utilisez 'cover' pour que l'image couvre entièrement le conteneur */
  -o-object-position: center;
     object-position: center; /* Centrez l'image dans le conteneur */
  margin-left: 15px;
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 10%;
  height: 118px;
}

.container2 p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.containerstyle {
  display: flex;
  margin-top: 30px;
  gap: 16%;
  margin-bottom: 30px;
}

.bouton {
  width: 272px;
  height: 50px;
  top: 1000px;
  left: 438px;
  padding: 8px 15px 8px 15px;
  gap: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.0196078431);
  background: #D8D8D8;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.77px;
  border: 2px solid #B8BBC2;
  cursor: pointer;
  transition: 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Propriétés de transition */
}

.bouton:hover {
  background: #C0C0C0;
  border-color: #A0A0A0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.miniaturestyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  margin-left: 235px;
}

.miniaturestyle .fleches {
  width: 85px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 100px;
  margin-left: 60px;
}

.miniaturestyle .fleches .fleche {
  width: 25px;
  cursor: pointer;
}

.fleches {
  position: relative;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.photo-preview {
  display: none;
  position: absolute;
  margin-left: 75px;
  margin-top: -75px;
  transform: translateX(-50%);
  width: 150px;
  z-index: 10;
  text-align: center;
}

.photo-preview img {
  width: 81px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-link:hover ~ .photo-preview {
  display: block;
}

.preview-image {
  display: none;
}

.nav-link.prev-link:hover ~ .photo-preview .prev-thumbnail {
  display: block;
}

.nav-link.next-link:hover ~ .photo-preview .next-thumbnail {
  display: block;
}

.recommandations {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top: 1px solid #000000;
  margin-left: 150px;
}

.recommandations_images {
  display: flex;
  margin-top: 30px;
  gap: 16%;
  margin-bottom: 90px;
}

.recommandations h3 {
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.66px;
  text-align: left;
  text-transform: uppercase;
  width: 229px;
  height: 27px;
  top: 1158px;
  left: 145px;
  margin-top: 60px;
}

.texte {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: right;
}

/*test*/
#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#lightbox-container {
  position: relative;
  background: white;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lightbox-image {
  max-width: 100%;
  max-height: 70vh;
}

#lightbox-info {
  margin-top: 20px;
  text-align: center;
}

#lightbox-close, #lightbox-prev, #lightbox-next {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#lightbox-close {
  top: 10px;
  right: 10px;
}

#lightbox-prev {
  left: 10px;
}

#lightbox-next {
  right: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  height: 962px;
  top: 80px;
}

.hero h1 {
  align-self: center;
  position: absolute;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-size: 6.3vw;
  text-transform: uppercase;
  text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
  mix-blend-mode: lighten;
}

.heroimg {
  width: 1440px;
  height: 962px;
  gap: 0px;
  opacity: 0px;
}

@media all and (max-width: 391px) {
  .header {
    margin-top: -10%;
  }
  .header_logo {
    width: 138px;
    height: 9px;
    margin-left: 20px;
  }
  .hero {
    overflow: hidden; /* Assurez-vous que le contenu débordant est caché */
    height: 253px;
    top: 72px;
  }
  .heroimg {
    position: relative;
    width: 375px;
    height: 250.33px;
    max-height: 30vh; /* Limitez la hauteur de l'image à 30% de la hauteur de la vue */
    z-index: 0;
    box-sizing: border-box;
  }
  .hero h1 {
    position: absolute;
    top: 31%;
    left: 50%;
    align-self: center;
    transform: translate(-50%, -50%); /* Centrez le titre */
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-size: 6.3vw;
    text-transform: uppercase;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    mix-blend-mode: lighten;
    z-index: 1;
    white-space: nowrap;
    font-size: 27.59px;
    font-weight: 700;
    line-height: 40.86px;
  }
  .modal {
    width: 100%;
    height: 100%;
  }
  .wpcf7-form {
    margin-left: -30px;
  }
  textarea.wpcf7-form-control {
    width: 60%;
  }
  input.wpcf7-form-control {
    width: 60%;
    height: 50px;
  }
  #menu-item-59 {
    margin-right: 10%;
  }
  #menu-item-60 {
    margin-right: 10%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .piedpage {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 207px;
    top: 3686px;
    left: 179px;
    gap: 0px;
  }
  #footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    margin-right: 40px;
    margin-bottom: 0px;
  }
  #footer-menu li {
    justify-content: center;
    width: 100%; /* Pour s'assurer que les liens prennent toute la largeur */
  }
  #footer-menu a {
    font-size: 14px;
    text-align: center; /* Centre le texte pour une meilleure présentation */
    width: 100%; /* Pour s'assurer que les liens prennent toute la largeur */
  }
  .footer-text {
    font-size: 14px;
    text-align: center;
    padding-bottom: 120px;
  }
  .post-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .containerstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recommandations_images {
    display: flex;
    flex-direction: column;
  }
  .photo-post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .miniaturestyle .fleches {
    display: none;
  }
  .miniaturestyle .preview img {
    display: none;
  }
  .post-details {
    margin-left: 50px;
  }
  .menu-button {
    display: block;
    cursor: pointer;
    margin-right: 950px;
    background-color: #fff;
    border: none;
  }
  #main-menu {
    display: none;
    position: absolute;
    top: 12%; /* Place le menu de navigation sous l'icône burger */
    left: 0; /* Aligne le menu de navigation sur la gauche */
    width: 100%; /* Assure que le menu de navigation prend toute la largeur */
    height: 102%;
    background-color: #E00000; /* Ajoute un fond blanc */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); /* Ajoute une ombre */
    z-index: 2; /* Assure que le menu de navigation est au-dessus du contenu */
    justify-content: center;
    text-align: center; /* Centre les éléments du menu */
  }
  #main-menu.hidden {
    display: none; /* Masquer le menu de navigation par défaut sur les petits écrans */
  }
  #main-menu {
    display: none; /* Masquer le menu par défaut */
  }
  #main-menu.visible {
    display: block; /* Afficher le menu lorsque la classe 'visible' est ajoutée */
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .entete {
    display: flex;
  }
  #main-menu.visible {
    display: block;
  }
  .main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main-menu a {
    text-decoration: none;
    color: white;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-align: left;
  }
  #main-menu li {
    list-style: none;
  }
}
.photo-post {
  display: flex;
  gap: 130px;
}

.photo-post .img-photo {
  width: 564px;
  height: 495px;
  top: 1237px;
  left: 144px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -20px;
}

.photo-post > div {
  display: inline;
}

.photo-post {
  position: relative;
  overflow: hidden;
}

.photo-post .photo-container {
  position: relative;
  overflow: hidden;
}

.photo-post .photo-container .img-photo {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.photo-post .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente pour l'overlay */
  opacity: 0; /* Initialement invisible */
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: space-between; /* Aligner les icônes en utilisant l'espace disponible */
  align-items: center;
  padding: 10px; /* Ajouter un padding pour espacer les icônes */
  box-sizing: border-box; /* Inclure le padding dans la taille totale */
}

.photo-post:hover .photo-overlay {
  opacity: 1; /* Rendre l'overlay visible au survol */
}

.photo-post:hover .photo-overlay {
  opacity: 1; /* Rendre l'overlay visible au survol */
}

.photo-post .photo-overlay .info-icon {
  /* Ajustez la taille de l'icône selon vos besoins */
  background-image: url("../images/oeil-icon.png"); /* Image de l'icône de l'œil */
  background-size: cover; /* Ajuster la taille de l'image de fond pour couvrir l'espace */
  background-repeat: no-repeat; /* Ne pas répéter l'image de fond */
  cursor: pointer;
  width: 46px;
  height: 31.2px;
  top: 231.4px;
  left: 255px;
  gap: 0px;
  opacity: 0px;
  margin-left: 250px;
}

.photo-post .photo-overlay .fullscreen-icon {
  background-image: url("../images/fullscreen-icon.png"); /* Image de l'icône de plein écran */
  background-size: cover; /* Ajuster la taille de l'image de fond pour couvrir l'espace */
  background-repeat: no-repeat; /* Ne pas répéter l'image de fond */
  cursor: pointer;
  width: 34px;
  height: 34px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-top: -420px;
  margin-right: 10px;
}

/* Pour la police Space Mono */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400; /* Normal */
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 400; /* Normal */
  src: url("fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 700; /* Gras */
  src: url("fonts/SpaceMono-BoldItalic.ttf") format("truetype");
}
/* Pour la police Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300; /* Normal */
  src: url("fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500; /* Normal */
  src: url("fonts/Poppins-Light.ttf") format("truetype");
}/*# sourceMappingURL=style.css.map */