
@import '_header.scss';
@import '_footer.scss';
@import '_modal.scss';
@import '_single-photo.scss';
@import'_front-page.scss';

/* Pour la police Space Mono */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400; /* Normal */
    src: url('fonts/SpaceMono-Regular.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400; /* Normal */
    src: url('fonts/SpaceMono-Italic.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700; /* Gras */
    src: url('fonts/SpaceMono-BoldItalic.ttf') format('truetype'); 
  }
  /* Pour la police Poppins */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300; /* Normal */
    src: url('fonts/Poppins-Light.ttf') format('truetype'); 
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500; /* Normal */
    src: url('fonts/Poppins-Light.ttf') format('truetype'); 
  }